/* Element selectors re-arranged to appear together at the top of the css file*/

/* added a 95% opacity to tone down the glare in the images and give a more muted pastel style filter to the entire page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    opacity: 96%;
}

/* Changed to a muted pastel grey-blue to make the page less glaring to the eye in the margins*/
body {
    background-color: #8cbccc;
}

a {
    color: #ffffff;
    text-decoration: none;

}

/* added this block with a pseudo-selector to give some nice visual feedback when hovering over the link anchors. 
   Paid specific attention to the colour to ensure it was well contrasted with the header background, was easy to read and maintained the pastel style for the header colourings*/
a:hover {
    color:#ff0000;

}

p {
    font-size: 16px;
}

/* styles arranged to be concordant with the html layout */
/* styles here changed to target ids to make the selctors easier to understand and named to be more informative of their divs function */
/* Adjusted the color to be more consistently themed with the other colours on the page*/
#header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1b6d96;
    color: #ffffff;
}

#header-splash {
    display: inline-block;
    font-size: 48px;
}

#seo-style {
    color: #d9dcd6;
}

#nav-card {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#nav-links {
    list-style-type: none;
}

/* nav-link : Keeping this {converted class to id} as it appears to be the simplest way to achieve the effect on all the nav list items*/
#header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Tidied up the stylings here.  background-image, background-size are no longer applicable as the class is now applied to an img tag*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    z-index: -1;
}

/*  container stylings added here to make the page appear better lined up and omproved the balancing of the margins around the content and aside; easier on the eye  */
.pane {
    height: 960px;
    width: auto;
    margin: 0px 12px 0px 12px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*  Consolidated three blocks into this one class and added a slight 4px border-radius to soften the feel of the containing background  */
.card-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border-radius: 4px;
}

/* Consolidated three blocks into this one class*/
.h2-style {
    margin-bottom: 20px;
    font-size: 36px;
}

/*  Adjusted the height field to a fixed height in px so that it always lines up nicely with content section 
    and added a slight 4px border-radius to soften the feel of the containing background  */
.benefits {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 940px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    border-radius: 4px;
}

/* Consolidated three blocks into this one class*/
.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated three blocks into this one class*/
.benefit-h3-style{
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated three blocks into this one class*/
.benefit-img-style{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* changed to footer selector from class to an id so that it has a consistent coding style with the header*/
#footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Tailwind style helper classes organised below here */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.font-size-20{
    font-size: 20px;
}

.max-height-200 {
    max-height: 200px;
}
